
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Birthstone';
  src: url('./assets/fonts/Birthstone-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* :root {
  font-family: Birthstone;
  line-height: 1.5;
  font-weight: 400;
}


body {
  font-family: Arial, Helvetica, sans-serif, serif;
  min-width: 320px;
  min-height: 100vh;
  color: #4B715F;
} */