/* index.css */
/* @import "tailwindcss/preflight.css";
@tailwind utilities; */

@import "tailwindcss";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
  html {
    /* @apply text-surface; */
    @apply bg-white;
  }
  html.dark {
    @apply text-neutral-50;
    /* @apply bg-body-dark; */
  }
}

@tailwind components;
@tailwind utilities;

p {
  @apply leading-[1.6];
}

@font-face {
  font-family: 'Birthstone';
  src: url('./assets/fonts/Birthstone-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/* :root {
  font-family: Birthstone;
  line-height: 1.5;
  font-weight: 400;
}


body {
  font-family: Arial, Helvetica, sans-serif, serif;
  min-width: 320px;
  min-height: 100vh;
  color: #4B715F;
} */